<mat-card class="order-summary-card">
    <h2 class="order-summary-title">Resumo do Pedido</h2>

    <table class="order-summary">
      <thead>
        <tr>
          <th>Produto</th>
          <th>Preço</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of selectedProducts">
          <td>{{ product.name }}</td>
          <td class="product-price">R$ {{ product.price.toFixed(2) }}</td>
          <td>
            <button class="remove-button" (click)="removeFromOrder(product)">Remover</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="order-summary-fee">
      <span>Taxa de Entrega:</span>
      <span>R$ {{ deliveryFee.toFixed(2) }}</span>
    </div>

    <div class="order-summary-total">
      <span>Total:</span>
      <span>R$ {{ totalOrder.toFixed(2) }}</span>
    </div>    
</mat-card>