<p-carousel 
  [value]="products" 
  [numVisible]="3" 
  [numScroll]="1" 
  [circular]="true">
  <ng-template let-product pTemplate="item">
    
    <div class="product-card">
      <div class="product-image-container">
        <img [src]="product.image" [alt]="product.name" />
      </div>
      <h3 class="product-name">{{ product.name }}</h3>
      <p class="product-description">{{ product.description }}</p>
      <p class="price">R$ {{ product.price.toFixed(2) }}</p>
      <p-button 
        (click)="addToOrder(product)" 
        styleClass="p-button-danger"
        label="Adicionar">
      </p-button>
    </div>
  </ng-template>
</p-carousel>
